
<section id="tags-cloud" class="container d-inline-flex justify-content-center flex-wrap">
    {% assign tag_weights = '' | split: '' %}
    {% for tag in site.tags %}
        {% assign tag_count = tag | last | size | split: '' %}
        {% assign tag_weights = tag_weights | concat: tag_count %}
    {% endfor %}
    {% assign tag_weights = tag_weights | uniq | sort_natural | reverse %}

    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
        {% assign tag_name = tag | first | slugify %}
        {% assign tag_count = tag | last | size %}

        {% assign tag_level = 1 %}
        {% assign index = 1 %}
        {% for item in tag_weights %}
            {% if tag_level < 5 %}
                {% assign tmp_value = tag_count | minus: item %}
                {% if tmp_value != 0 %}
                    {% assign index = index | plus: 1 %}
                {% else %}
                    {% assign tag_level = index %}
                {% endif %}        
            {% endif %}
        {% endfor %}

        <a href="#" class="align-self-center fs-{{tag_level}}" role="button">{{tag_name}}</a>

    {% endfor %}
</section>
