---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header id="post-header" class="container">
    <img src="{{ site.baseurl }}{{ page.thumbnail }}" alt="thumbnail" class="thumbnail img-fluid">
    <h1 id="post-title" class="post-title" itemprop="post title headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time id="post-date" class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="post date published">
        {{ page.date }}
      </time>
      {%- if page.author -%}
      <div id="authors">
        {% for author in page.author %}
          <a href="#" class="author btn btn-primary" role="button" itemprop="post author">{{ author }}</a>
        {% endfor %}
      </div>        
      {%- endif -%}
    </p>
    {%- if page.categories -%}
    <div id="categories">
      {% assign categories = page.categories | sort_natural %}
      {% for category in categories %}
        <a href="#" class="category btn btn-primary" role="button" itemprop="post category">{{ category }}</a>
      {% endfor %}
    </div>
    {%- endif -%}
    
    {%- if page.tags -%}
    <tags id="tags">
      {% assign tags = page.tags | sort_natural %}
      {% for tag in tags %}
      <a href="#" class="tag badge bg-secondary" itemprop="post tag">{{ tag }}</a>            
      {% endfor %}
    </tags>
    {%- endif -%}
    
  </header>

  <div id="content" class="container" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<nav id="post-navigation">
  {% if page.previous.url %}
    <a class="prev" href="{{ site.baseurl }}{{ page.previous.url }}">{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}}</a>
  {% endif %}
</nav>